.TaskBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
  max-height: 40px;
}
.TaskBar button {
  background: none;
  border: none;
  cursor: pointer;
}

.TaskBar > .paths {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 3ch;
  transition: 0.3s ease-in-out;
}

.TaskBar > button {
  display: none;
}

.path {
  color: hsl(236, 13%, 42%);
  cursor: pointer;
}

.path:hover {
  color: hsl(5, 85%, 63%);
}

@media only screen and (max-width: 600px) {
  .TaskBar.active > .paths {
    display: flex;
    margin: 0;
    position: fixed;
    inset: 0 0 0 30%;
    background-color: white;
    flex-direction: column;
    justify-content: center;
  }

  .TaskBar.active > button {
    display: none;
  }

  .TaskBar.active {
    height: 100%;
    max-height: 100%;
    position: fixed;
    background-color: hsla(0, 0%, 0%, 0.5);
  }

  .TaskBar.active > img {
    height: 40px;
  }

  .TaskBar > .paths {
    display: none;
  }
  .TaskBar > button {
    display: flex;
  }
  .path {
    color: black;
    font-size: 20px;
  }

  .paths > button {
    position: fixed;
    top: 5%;
    right: 5%;
  }
}
